# Virtual environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment variables
be/.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# MacOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/

# Database
*.db
*.sqlite
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


# --- Node.js / Next.js specific ---
node_modules/
.next/
out/
dist/
*.tsbuildinfo

# lock files (dacă nu vrei să le comiți)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Tailwind CSS
*.css.map

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE
*.log
*.tmp

# WebStorm / JetBrains (dacă folosești)
.idea/

# Build / Preview static export
out/

!fe/lib/

fe/node_modules/

dump.rdb
gcp-credentials.json

codebase.md
.env.prod
be/mypi.ini
